{% verbatim %}
<script id='weibo' type='text/x-jsrender'>
    {{if image}}
    <div class="p1_box cl1">
		<div class="type"></div>
        {{for image}}
		<img src="{{:#data}}/240" alt="{{:nick}}">
        {{/for}}
        <blockquote>{{:text}}</blockquote>
		<a href="index-2.html" class="bot">{{:nick}}<span>7 <br>images</span></a>
	</div>
    {{else}}
    <div class="p1_box cl5">
		<div class="type"></div>
		<blockquote>{{:text}}</blockquote>
		<a href="#" class="bot">{{:nick}}<span>8 <br>comments</span></a>
	</div>
    {{/if}}
</script>
{% endverbatim %}